---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const posts = await getCollection("posts")
console.log(posts)

---
<Layout title="Demo">
    {posts.map((post) => (<h1>{post.data.title}</h1>))}
</Layout>
