---
import "../styles/global.css";

interface Props{
	title: string;
	description?: string;
}
const {title,description = "Kripesh Sharma's portfolio website"} = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content={description} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body >
		<slot />
	</body>
</html>


